body {
background: #333366 !important;
}

section{
    padding: 20px;
}

.searchbox{
    width: 100%;
    padding: 10px;
    margin:10px;
}

.App{
    display: flex;
}

.content{
    margin-top: 60px;
    margin-right: 20px;
    padding: 50px;
    display: flex;
    justify-content:center;
}

.move{
    padding:30px;
    width: 18rem;
}

.content2{
    margin-top: 20px;
    margin-right: 20px;
    padding: 50px;
    display: flex;
    justify-content:center;
}

.card{
    width:250px;
}

.h1{
    color:#CC0033;
    margin:200px;
    margin-left:100px;
}

.in{
    text-align:center;
}


