body {
background: #333366 !important;
}

section{
    padding: 20px;
}

.searchbox{
    width: 400%;
    padding: 10px;
    margin:10px;
}

.App{
    display: flex;
}

.content{
    margin-top: 60px;
    margin-right: 20px;
    padding: 50px;
    display: flex;
    justify-content:center;
}

.move{
    padding:30px;
    width: 18rem;
}

.content2{
    margin-top: 20px;
    margin-right: 20px;
    padding: 50px;
    display: flex;
    justify-content:center;
}

.card{
    width:250px;
}

.h1{
    color:#CC0033;
    margin:30px;
}

.butt{
    margin:25px;
    margin-left:51%;
    width:10%;
    background-color:#000033;
    color:white;
}