body {
background: #333366 !important;
}

section{
    padding: 20px;
}

.App{
    display: flex;
}

.content{
    margin-top: 60px;
    margin-right: 20px;
    padding: 50px;
    display: flex;
    justify-content:'space-between';
}

.move{
    padding:30px;
    width: 18rem;
}

.card{
    width:250px;
}

.h1{
    color:#CC0033;
    margin:200px;
    margin-left:100px;
}

.in{
    text-align:center;
}

.zalogowany{
    color:#008B8B;
    margin-right:-200px;
}

.test{
    margin-top: 1em;
}
.card2{
    width:400px;
}
.App3{
    margin-top:150px;
    margin-left:450px;
}

.Search{
    display:flex;
    width: 90%;
    margin-left:55px;
}



